# IDE files
.idea/
.vscode/
*.iml

# Compiled class files
/target/
/build/
/bin/
/out/

# Dependency directories
/lib/
/libs/
/node_modules/

# Log files
*.log

# Maven specific files
mvnw
mvnw.cmd
.mvn/
/target/

# Gradle specific files
.gradle/
build/
.gradle/
